In [47]:
import pandas as pd

In [48]:
freshmart_df = pd.read_csv(r'Dataset\RawData\freshmart_products_csv.csv')

print (freshmart_df)

     ProductID ProductName   Category  Price  StockQuantity
0            1      Milk 1      Dairy  19.35          358.0
1            2      Cola 2  Beverages   9.99           81.0
2            3    Banana 3    Produce  30.33          112.0
3            4     Cream 4      Dairy  22.85          224.0
4            5     Cream 5      Dairy   3.85           97.0
..         ...         ...        ...    ...            ...
200         96    Apple 96    Produce   3.52          494.0
201         16   Coffee 16  Beverages  18.95          199.0
202         31    Apple 31    Produce  21.83           63.0
203        159     Tea 159  Beverages  19.14          242.0
204        129  Muffin 129     Bakery  42.96           63.0

[205 rows x 5 columns]

In [49]:
 #Display first 5 rows
freshmart_df.head()

   ProductID ProductName   Category  Price  StockQuantity
0          1      Milk 1      Dairy  19.35          358.0
1          2      Cola 2  Beverages   9.99           81.0
2          3    Banana 3    Produce  30.33          112.0
3          4     Cream 4      Dairy  22.85          224.0
4          5     Cream 5      Dairy   3.85           97.0

In [50]:
# Data cleaning and Transformation
freshmart_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ProductID      205 non-null    int64
 1   ProductName    205 non-null    object
 2   Category       205 non-null    object
 3   Price          200 non-null    float64
 4   StockQuantity  200 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 8.1+ KB

In [51]:
freshmart_df.isnull().sum()

ProductID        0
ProductName      0
Category         0
Price            5
StockQuantity    5
dtype: int64

In [52]:
freshmart_df["Price"] = freshmart_df["Price"].fillna(0)
freshmart_df["StockQuantity"] = freshmart_df["StockQuantity"].fillna(0)

print (freshmart_df.head(10))

   ProductID    ProductName   Category  Price  StockQuantity
0          1         Milk 1      Dairy  19.35          358.0
1          2         Cola 2  Beverages   9.99           81.0
2          3       Banana 3    Produce  30.33          112.0
3          4        Cream 4      Dairy  22.85          224.0
4          5        Cream 5      Dairy   3.85           97.0
5          6        Bread 6     Bakery  17.35          369.0
6          7         Milk 7      Dairy  35.70            0.0
7          8       Banana 8    Produce   3.76          353.0
8          9  Granola Bar 9     Snacks  41.79          303.0
9         10       Cream 10      Dairy   1.04          453.0

In [53]:
# checking for duplicates
freshmart_df.duplicated().sum()

4

In [54]:
freshmart_df[freshmart_df.duplicated()]

     ProductID ProductName   Category  Price  StockQuantity
200         96    Apple 96    Produce   3.52          494.0
201         16   Coffee 16  Beverages  18.95          199.0
203        159     Tea 159  Beverages  19.14          242.0
204        129  Muffin 129     Bakery  42.96           63.0

In [55]:
# dropping duplicate
freshmart_df = freshmart_df.drop_duplicates()

In [20]:
freshmart_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 201 entries, 0 to 202
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ProductID      201 non-null    int64
 1   ProductName    201 non-null    object
 2   Category       201 non-null    object
 3   Price          201 non-null    float64
 4   StockQuantity  201 non-null    float64
dtypes: float64(2), int64(1), object(2)
memory usage: 9.4+ KB

In [56]:
# Replacing incorrect values/spellings
freshmart_df["Category"] = freshmart_df["Category"].replace("Bevarages", "Beverages")
freshmart_df["Category"] = freshmart_df["Category"].replace("snakcs", "Snacks")
freshmart_df["Category"] = freshmart_df["Category"].replace("0Beverages", "Beverages")
freshmart_df["Category"] = freshmart_df["Category"].replace("2Beverages", "Beverages")
freshmart_df["Category"] = freshmart_df["Category"].replace("9Beverages", "Beverages")

In [57]:
#check the incorrect spellings have been successfully replaced.
print(freshmart_df.head(30))

    ProductID      ProductName   Category  Price  StockQuantity
0           1           Milk 1      Dairy  19.35          358.0
1           2           Cola 2  Beverages   9.99           81.0
2           3         Banana 3    Produce  30.33          112.0
3           4          Cream 4      Dairy  22.85          224.0
4           5          Cream 5      Dairy   3.85           97.0
5           6          Bread 6     Bakery  17.35          369.0
6           7           Milk 7      Dairy  35.70            0.0
7           8         Banana 8    Produce   3.76          353.0
8           9    Granola Bar 9     Snacks  41.79          303.0
9          10         Cream 10      Dairy   1.04          453.0
10         11        Tomato 11      dairy   9.99          469.0
11         12     Croissant 12     Bakery  30.97          262.0
12         13         Donut 13     Bakery  22.17           58.0
13         14  Orange Juice 14  Beverages  26.71          179.0
14         15       Lettuce 15    Produce   3.29          197.0
15         16        Coffee 16  Beverages  18.95          199.0
16         17        Banana 17    Produce   5.44          455.0
17         18  Orange Juice 18  Beverages  10.78           64.0
18         19        Butter 19      Dairy  49.18          140.0
19         20        Yogurt 20      Dairy  43.14          144.0
20         21  Mineral Water 2  Beverages   9.36          176.0
21         22  Orange Juice 22  Beverages   1.65           98.0
22         23         Donut 23     Bakery  48.32          251.0
23         24        Butter 24      Dairy  19.89          355.0
24         25         Cream 25      Dairy   5.79          349.0
25         26  Mineral Water 2  Beverages  12.81          453.0
26         27  Mineral Water 2  Beverages   6.98          273.0
27         28         Apple 28    Produce   2.69          215.0
28         29        Cheese 29      Dairy  20.16           59.0
29         30  Orange Juice 30  Beverages  33.46           11.0

In [58]:
freshmart_df["StockQuantity"] = freshmart_df["StockQuantity"].astype(int)

print(freshmart_df["StockQuantity"])

0      358
1       81
2      112
3      224
4       97
      ...
196     56
197    433
198    278
199    115
202     63
Name: StockQuantity, Length: 201, dtype: int32

In [59]:
# creating a StockValue column
freshmart_df["StockValue"] = freshmart_df["Price"] * freshmart_df["StockQuantity"].round(2)

print(freshmart_df)

     ProductID      ProductName   Category  Price  StockQuantity  StockValue
0            1           Milk 1      Dairy  19.35            358     6927.30
1            2           Cola 2  Beverages   9.99             81      809.19
2            3         Banana 3    Produce  30.33            112     3396.96
3            4          Cream 4      Dairy  22.85            224     5118.40
4            5          Cream 5      Dairy   3.85             97      373.45
..         ...              ...        ...    ...            ...         ...
196        197         Cola 197  Beverages  27.04             56     1514.24
197        198        Apple 198    Produce  35.28            433    15276.24
198        199  Mineral Water 1  Beverages  36.58            278    10169.24
199        200        Donut 200     Bakery  48.51            115     5578.65
202         31         Apple 31    Produce  21.83             63     1375.29

[201 rows x 6 columns]

In [60]:
 # Aggregate by category
agg_df = freshmart_df.groupby("Category").agg(
    average_price = ("Price", "mean"),
    total_stockquantity = ("StockQuantity", "sum")
).reset_index()

agg_df["average_price"] = agg_df["average_price"].round(2)
agg_df["total_stockquantity"] = agg_df["total_stockquantity"].astype(int)

print(freshmart_df)

     ProductID      ProductName   Category  Price  StockQuantity  StockValue
0            1           Milk 1      Dairy  19.35            358     6927.30
1            2           Cola 2  Beverages   9.99             81      809.19
2            3         Banana 3    Produce  30.33            112     3396.96
3            4          Cream 4      Dairy  22.85            224     5118.40
4            5          Cream 5      Dairy   3.85             97      373.45
..         ...              ...        ...    ...            ...         ...
196        197         Cola 197  Beverages  27.04             56     1514.24
197        198        Apple 198    Produce  35.28            433    15276.24
198        199  Mineral Water 1  Beverages  36.58            278    10169.24
199        200        Donut 200     Bakery  48.51            115     5578.65
202         31         Apple 31    Produce  21.83             63     1375.29

[201 rows x 6 columns]

In [112]:
#product table
products_df = freshmart_df[['ProductID', 'ProductName', 'Category', 'Price', 'StockQuantity', 'StockValue']].copy().drop_duplicates().reset_index(drop=True)

print(products_df)

     ProductID      ProductName   Category  Price  StockQuantity  StockValue
0            1           Milk 1      Dairy  19.35            358     6927.30
1            2           Cola 2  Beverages   9.99             81      809.19
2            3         Banana 3    Produce  30.33            112     3396.96
3            4          Cream 4      Dairy  22.85            224     5118.40
4            5          Cream 5      Dairy   3.85             97      373.45
..         ...              ...        ...    ...            ...         ...
196        197         Cola 197  Beverages  27.04             56     1514.24
197        198        Apple 198    Produce  35.28            433    15276.24
198        199  Mineral Water 1  Beverages  36.58            278    10169.24
199        200        Donut 200     Bakery  48.51            115     5578.65
200         31         Apple 31    Produce  21.83             63     1375.29

[201 rows x 6 columns]

In [121]:
#save the table to csv
products_df.to_csv(r'Dataset\CleanedData\products.csv', index=False)

#### Data Storage with PostgreSQL

In [83]:
!pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in c:\users\adeol\anaconda3\lib\site-packages (2.9.10)

In [115]:
import psycopg2

In [1]:
def get_db_connection():
    connection = psycopg2.connect(
        host = 'localhost',
        database = 'Fresh_Mart_db',
        user = 'postgres',
        password = 'Tiwalade16',
        port ='5432'
    )
    
    return connection

In [117]:
conn = get_db_connection()
print("Connection successful:",conn)

Connection successful: <connection object at 0x000002BA74E92BD0; dsn: 'user=postgres password=xxx dbname=Fresh_Mart_db host=localhost port=5432', closed: 0>

In [120]:
#create SQL table
def create_table():
    conn = get_db_connection()
    cursor = conn.cursor()
    create_table_query = '''
                            CREATE SCHEMA IF NOT EXISTS fresh_mart;

                            DROP TABLE IF EXISTS fresh_mart.products;

                            CREATE TABLE fresh_mart.products (
                                ProductID SERIAL PRIMARY KEY,
                                ProductName VARCHAR,
                                Category VARCHAR,
                                Price DECIMAL,
                                StockQuantity INT,
                                StockValue DECIMAL
                            );
                            '''
    cursor.execute(create_table_query)
    conn.commit()
    cursor.close()
    conn.close()

In [119]:
create_table()

#### Data Load

In [127]:
import csv
def load_data_from(csv_path):
    conn=get_db_connection()
    cursor = conn.cursor()
    with open(csv_path,'r') as file:
        reader =csv.DictReader(file)
        for row in reader:
            cursor.execute('''
               INSERT INTO fresh_mart.products(ProductName, Category, Price, StockQuantity, StockValue)
               VALUES(%s, %s, %s, %s, %s)
            ''', (
                row['ProductName'],
                row['Category'],
                row['Price'],
                row['StockQuantity'],
                row['StockValue']
            ))
        conn.commit()
        cursor.close()
        conn.close()
        print("CSV data loaded successfully!")

In [128]:
csv_file_path =r'Dataset\CleanedData\products.csv'
load_data_from(csv_file_path)

CSV data loaded successfully!

In [139]:
# Query database - dairy products
def fetch_dairy_products_df():
    conn = get_db_connection()
    cursor = conn.cursor()

    query = """
        SELECT *
        FROM fresh_mart.products
        WHERE Category = %s;
    """

    df = pd.read_sql(query, conn, params=('Dairy',))
    conn.close()
    return df

In [136]:
dairy_df = fetch_dairy_products_df()
print(dairy_df)

    productid productname category  price  stockquantity  stockvalue
0           1      Milk 1    Dairy  19.35            358     6927.30
1           4     Cream 4    Dairy  22.85            224     5118.40
2           5     Cream 5    Dairy   3.85             97      373.45
3           7      Milk 7    Dairy  35.70              0        0.00
4          10    Cream 10    Dairy   1.04            453      471.12
5          19   Butter 19    Dairy  49.18            140     6885.20
6          20   Yogurt 20    Dairy  43.14            144     6212.16
7          24   Butter 24    Dairy  19.89            355     7060.95
8          25    Cream 25    Dairy   5.79            349     2020.71
9          29   Cheese 29    Dairy  20.16             59     1189.44
10         58     Milk 58    Dairy  24.14            110     2655.40
11         61   Butter 61    Dairy  12.56            407     5111.92
12         65     Milk 65    Dairy  10.88            361     3927.68
13         70   Yogurt 70    Dairy  38.02             45     1710.90
14         80   Yogurt 80    Dairy   6.39            386     2466.54
15         82   Cheese 82    Dairy  41.08            242     9941.36
16         84   Butter 84    Dairy  26.03            146     3800.38
17         85    Cream 85    Dairy  24.76            234     5793.84
18         95   Cheese 95    Dairy  48.85            229    11186.65
19        101    Milk 101    Dairy  30.04            448    13457.92
20        103  Yogurt 103    Dairy  12.87            303     3899.61
21        104   Cream 104    Dairy  19.02            381     7246.62
22        112  Butter 112    Dairy  26.09            156     4070.04
23        115    Milk 115    Dairy  20.48             48      983.04
24        116  Butter 116    Dairy  46.90            138     6472.20
25        125    Milk 125    Dairy  28.36            169     4792.84
26        127  Cheese 127    Dairy  14.66            156     2286.96
27        131  Cheese 131    Dairy  42.70            122     5209.40
28        140  Yogurt 140    Dairy   1.89            407      769.23
29        141    Milk 141    Dairy  16.94            413     6996.22
30        149   Cream 149    Dairy  44.71            292    13055.32
31        161  Butter 161    Dairy  21.98            190     4176.20
32        163    Milk 163    Dairy  42.80            200     8560.00
33        167  Cheese 167    Dairy  28.28            232     6560.96
34        172   Cream 172    Dairy  13.45            499     6711.55
35        175    Milk 175    Dairy  35.42            185     6552.70
36        182    Milk 182    Dairy   0.00            409        0.00
37        184    Milk 184    Dairy  17.56            101     1773.56
38        189    Milk 189    Dairy  42.11             67     2821.37
39        190  Cheese 190    Dairy   2.49            189      470.61
40        195  Yogurt 195    Dairy  31.52            205     6461.60

C:\Users\adeol\AppData\Local\Temp\ipykernel_34104\4246731764.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn, params=('Dairy',))

In [ ]:
# Query on stocquantity below 50
def get_stock_products_df():
    conn = get_db_connection()
    cursor = conn.cursor()

    query = """
        SELECT ProductID, ProductName, Category, Price, StockQuantity, StockValue
        FROM fresh_mart.products
        WHERE StockQuantity < 50;
    """

    df = pd.read_sql(query, conn)
    conn.close()
    return df

In [138]:
stock_below_df = get_stock_products_df()
print(stock_below_df)

    productid      productname   category  price  stockquantity  stockvalue
0           7           Milk 7      Dairy  35.70              0        0.00
1          30  Orange Juice 30  Beverages  33.46             11      368.06
2          57         Bread 57     Bakery  14.46             44      636.24
3          70        Yogurt 70      Dairy  38.02             45     1710.90
4          89   Granola Bar 89     Snacks  28.35              0        0.00
5         115         Milk 115      Dairy  20.48             48      983.04
6         121    Croissant 121     Bakery   9.57              0        0.00
7         126        Chips 126     Snacks  32.02             18      576.36
8         130      Lettuce 130    Produce  39.21              0        0.00
9         146        Apple 146    Produce  32.18             31      997.58
10        147        Chips 147     Snacks  12.96             47      609.12
11        154  Granola Bar 154     Snacks  25.46             13      330.98
12        158    Croissant 158     Bakery  14.70             15      220.50
13        166       Carrot 166    Produce  24.78             27      669.06
14        180  Mineral Water 1  Beverages  25.57              0        0.00

C:\Users\adeol\AppData\Local\Temp\ipykernel_34104\434989208.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)